  /* 
            c. Colores en distintas medidas:
            - rgb
            - hexadeximal
         */
         .color1{
            color: rgb(76, 90, 245);
        }
        .color2{
            color: #464f6a;
        }

        /* 
            .f elementos de fondo::
            - color
            - imagen 
        */
        body{
            background-color: #cbcac0;
        }
        
        section{
            height: 500px;
            width: 500px;
            background-image: url('img/pelota.jpeg');
            background-repeat: no-repeat;
        }

        /*
            b. unidades de medida
            - absolutas
            - relativas
        */
        aside ul li{
            height: 1em;
        }

        #lista{
            
        }